body{
	font-family: 'Engagement', cursive;
	background: rgb(67,107,140); /* Old browsers */
	background: -moz-linear-gradient(center top , #436B8C 0%, #436B8C 100%, #FFFFFF 30%, #FFFFFF 100%) repeat-x scroll 0 0 transparent; 
}

#container{
	background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 9px 15px -14px rgba(0, 0, 0, 0.3), 0 7px 18px -5px rgba(0, 0, 0, 0.2) inset;
    margin: 50px auto 0;
    min-height: 400px;
    padding: 50px;
    position: relative;
    width: 960px
}

h1{
	color: #DBF0FB;
    font-size: 74px;
    font-weight: lighter;
    margin: 0 auto;
    position: relative;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    width: 840px;
}
.playerWrapper{
	border-radius: 5px 5px 0 0;
    box-shadow: 0 7px 18px -11px rgba(0, 0, 0, 0.3) inset;
    overflow:hidden;
    padding: 30px 75px;
}

#play, #stop, #pause{
	border-radius: 8px 8px 8px 8px;
    box-shadow: 0 8px 0 #1A74A1, 0 9px 9px rgba(0, 0, 0, 0.35);
    display: inline-block;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    margin: 0 4%;
    width: 20%;
}


#play button, #stop button, #pause button{
    background: -moz-linear-gradient(#3194C6, #5BACD6) repeat scroll 0 0 transparent;
    border: 0 none;
    border-radius: 8px 8px 8px 8px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 30px;
    padding: 10px 20px;
    text-shadow: 0 -1px 1px rgba(19, 65, 88, 0.8);
    width: 100%;padding: 2%;
    width: 100%;
  	display: inline-block;
  	padding: 10px  20px;
  	background: #3194c6;
  	background: -moz-linear-gradient(#3194c6, #5bacd6);
  	text-shadow: 0 -1px 1px rgba(19,65,88,.8);
  	border-radius: 8px;
  	-moz-transition: -moz-transform .2s ease-in-out;
}

#pause button{
	padding-top:16px;
	padding-bottom:10px;
}

#stop button{
	padding-top:12px;
	padding-bottom:10px;
}


#play button:active ,#stop button:active,#pause button:active {	
  box-shadow: 0 8px 0 #1A74A1, 0 2px 2px rgba(0, 0, 0, 0.3);
}

#play button:active , #stop button:active , #pause button:active  {	
  -moz-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.stepSequencer{
  background: none repeat scroll 0 0 #E6E6E6;
  display: inline-block;
  float: left;
  margin: 50px 0;
  min-height: 150px;
  position: relative;
  width: 700px;
  border:1px solid #D9D9D9;
  border-width:1px 0 0 1px;
}
.stepSequencer div{
  position:absolute;
  top:0;
  left:0;
  width:100%;
}

#ruler-wrapper{
  box-shadow: 0 7px 18px -11px rgba(0, 0, 0, 0.3) inset;
}

.bar-controller{
	display: inline-block;
    margin: 0 5px 0 16px;
    min-height: 330px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 15%;
}

.bars{
  margin: 0 15px 0 5px;
    min-height: 95px;
    overflow: hidden;
    width: 84%;
}


/* -------------- progress -------------- */

.frequencyBar{
  display: inline-block;
    margin: 0;
    min-height: 160px;
    overflow: hidden;
    padding: 6px 0 0;
    position: relative;
    width: 66%;
}

.frequencyBar ul{
	 padding: 0 0 0 10px;
}

.frequencyBar li{
	display:inline-block;
	width:120px;
}

progress {
	-moz-appearance: none;
	position: relative;
	width: 150px;
	height: 17px;
	border-radius: 5px; 	
	padding: 4px;   
    background: #000;
	-moz-box-shadow: 0 1px 0 hsla(0,0%,100%,.1);
    -moz-transform:translate(-50px, 50px) rotate(-90deg);
    -moz-box-shadow: -1px 0 0 rgba(255, 255, 255, .08);
	-moz-transform-origin: center 8px;
	border:none;
    -moz-box-reflect: below -3px -moz-radial-gradient( 50% 70%, 50% 25%, hsla(0,0%,0%,.2) 0%, hsla(0,0%,0%,0) 95% );
    }


progress::-moz-progress-bar {
	box-shadow:0 1px 17px #5BACD6 inset;
    background-color: -moz-linear-gradient( 90deg, hsla(0,0%,0%,1) 1px, hsla(0,0%,0%,0) 1px );	
     background-size: 2px 5px;
    background-image: 	-moz-linear-gradient( 0deg,  hsla(0,0%,0%,.4) 1px, hsla(0,0%,0%,0) 1px ),
    		            -moz-linear-gradient( 90deg, hsla(0,0%,0%,1) 1px, hsla(0,0%,0%,0) 1px );	
    
   }


.controller-lb{
 display: block;
    margin: 4px;
    position: relative;
    width: 100%;
}

.controller-lb span{
	 display: block;
    font-family: tahoma;
    font-size: 1.2em;
    left: 25px;
    position: absolute;
}
